* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 25vh 25vw 25vh 25vw;
  font-size: 2em;
}

#btn {
  all: unset;
  position: relative;
  width: 20%;
  margin-left: 40%;
  color: #000000;
  background-color: #;
  border-color: # #595959;
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: -20px
}

#btn:hover {
  color: #fff;
  background-color: #595959;
  border-color: #595959;
  cursor: pointer;
}

#btn:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
  box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

#btn:active {
  color: #000000;
  background-color: #595959;
  background-image: none;
  border-color: #595959;
}

#profileImg {
  margin-left: 40%;
  margin-right: 40%;
  min-width: 20%;
  max-width: 23%;
  min-height: 20%;
  max-height: 20%;
  border-radius: 50%;
}

#title {
  text-align: center;
  height: 50px;
  background-color: #fff;
  margin-bottom: 10px;
}

#text {
  text-align: center;
  background-color: rgba(50, 50, 50, 1);
  color: #000000;
}

li {
  list-style-type: none;
}
